@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}
body {
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp2361253.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.papiro {
    background-image: url("/papiro.png");
    background-size: cover;
}